@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");

:root {
  --primary-brand: #4d5ae5;
  --dark: #2e2f42;
  --light: #f4f4fd;
  --text: #434455;
  --accent: #e7e9fc;
  --pressed-state: #404bbf;
}
body {
  background-color: white;
  margin: 0;
  font-family: "Roboto";
}
/*header*/

header {
  position: absolute;
  width: 100%;
  top: 0;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/*navigation*/

nav {
  display: flex;
  align-items: center;
}

.design-logo {
  font-family: "Raleway";

  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--primary-brand);
}

.desing-logo-partone {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--dark);
}
.desing-logo-parttwo {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--light);
}
.main-nav-buttons {
  display: flex;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  list-style-type: none;
  cursor: pointer;
}

.main-nav-buttons .portfolio {
  margin: 0 40px;
}
.main-nav-buttons .links {
  color: var(--dark);
}
.main-nav-buttons .links:active {
  color: var(--pressed-state);
}
main {
  margin-top: 72px;
}

.links {
  text-decoration-line: none;
}

/*contacts*/
.contacts {
  font-size: 16px;
  letter-spacing: 0.02em;
  align-items: center;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contacts .mail {
  margin-right: 40px;
}
.contacts a {
  font-style: normal;
  color: var(--text);
}
.contacts a:active {
  color: var(--pressed-state);
}
/*section*/
.section1 {
  display: flex;
  background-color: var(--dark);
  width: 100%;
  height: 600px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  width: 507px;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.02em;
  color: white;
  margin-bottom: 48px;
}
.order-button {
  width: 159px;
  height: 56px;
  font-family: "Roboto";

  font-weight: 500;
  font-size: 16px;
  display: flex;
  background: var(--primary-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0;
  border: 0;
}
.order-button:hover {
  background-color: var(--pressed-state);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.adv-list {
  align-items: center;
  display: flex;
  list-style-type: none;
  height: 156px;
  margin: 120px 156px;
  padding: 0;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
}
.adv-list li {
  margin: 0 12px;
}

.avd-inf {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text);
  padding: 0px;
}
/*Services*/
/*section3*/
.options-title {
  text-transform: capitalize;
  text-align: center;
  width: 100%;
  margin-bottom: 72px;
}
.options-list {
  padding: 0;
  justify-content: center;
  margin: 0 156px 120px 156px;
  list-style-type: none;
  display: flex;
}
.options-img {
  margin: 0 12px;
  box-sizing: border-box;
  background-blend-mode: soft-light, normal;
  border: 1px solid var(--accent);
}
/*Our team*/
/*section4*/
#our-team {
  background-color: var(--light);
  padding: 120px 0;
}
.team-title {
  text-transform: capitalize;
  margin: 0 0 72px 0;
}
.team-list {
  list-style-type: none;
  justify-content: center;
  display: flex;
  margin: 0 156px;
  padding: 0;
}
.team-list li {
  text-align: center;
  margin: 0 12px;
  background: white;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-list h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--dark);
}
.team-list p {
  font-size: 16px;
  line-height: 24px;
  color: var(--text);
}
/*footer*/
footer {
  width: 100%;
  height: 310px;
  background: var(--dark);
}
.footer-goal {
  width: 264px;
  margin-left: 156px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--accent);
}
footer a {
  padding: 100px 0 0 156px;
}
/*PORTFOLIO*/
.panel-buttons {
  list-style-type: none;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  margin: 96px 0 72px 0;
}
.optins-button {
  padding: 12px 24px;
  height: 48px;
  background: var(--light);
  border: 1px solid var(--accent);
  border-radius: 4px;
  /*text button*/
  font-family: "Roboto";

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-brand);
}
.optins-button:hover {
  background-color: var(--pressed-state);
  color: white;
  cursor: pointer;
}

.work-examples {
  width: calc(100% - 312px);
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  display: flex;
  margin: 0 156px 72px 156px;
  padding: 0;
}
.work-examples li {
  width: calc(100% / 3 - 26px);
  height: 420px;
  margin: 0 12px;
  box-sizing: border-box;
  background: white;
  border: 1px solid var(--accent);
  margin-bottom: 48px;
}
.work-examples h3 {
  margin: 32px 0 8px 16px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.work-examples p {
  margin: 0 0 32px 16px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text);
}
